<!-- DATEPIPE -->
<H1>DATEPIPE</H1>
<p>Date : {{ currentDate | date : "dd-MMM-yyyy" }}</p>
<p>Date : {{ currentDate | date : "medium" }}</p>
<p>Date : {{ currentDate | date }}</p>
<p>Date : {{ currentDate | date : "dd-MMM-yyyy h:mm:ss" }}</p>


<!-- LOWERCASEPIPE -->
<h1>LOWERCASEPIPE</h1>
<p>{{ x | lowercase }}</p>

<!-- UPPERCASEPIPE -->
<h1>UPPERCASEPIPE</h1>
<p>{{ y | uppercase }}</p>

<!-- PERCENTPIPE -->
<h1>PERCENTPIPE</h1>
<P>{{ z|percent:"1.0-1"}}</P>

<!-- JSONPIPE -->
<H1>JSONPIPE</H1>
<p>{{ a | json }}</p>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<table border="1px">
  <head>
  <th>ID</th>
  <th>Name</th>
  <th>Age</th>
  <th>City</th>
  <th>Country</th>
  <th>Gender</th>
  <th>DOB</th>
  <th>Fees</th>
</head>
<body>
  <tr>
 <td>{{students.ID | number}}</td>
 <td>{{students.Name | titlecase}} </td>
 <td>{{students.Age | number}}</td>
 <td>{{students.City | uppercase}} </td>
 <td>{{students.Country | uppercase}}</td>
 <td>{{students.Gender | uppercase }}</td>
 <td>{{students.DOB | date:'yyyy/MM/dd'}}</td>
 <!-- <td>{{students.Fees | currency:'USD':true}}</td> -->
 <td>{{students.Fees | currency:'INR':true}}</td>
</tr>
 
</body>
</table>
</html>